---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import { getAgentImage } from "@/util/agents";
import { getMapImage } from "@/util/maps";

const featuredAgents = ["Kayo", "Sova", "Gekko", "Phoenix"];
const featuredMaps = ["Ascent", "Bind", "Haven", "Split"];
---

<BaseLayout title="Valorant Setups">
	<div class="max-w-7xl mx-auto text-center p-4 md:p-8">
		<h1
			class="text-5xl font-extrabold text-gray-900 mb-8"
			transition:name="header"
		>
			Welcome to Valorant Setups
		</h1>
		<p class="text-xl text-gray-700 mb-12">
			Your ultimate resource for Valorant lineups and setups. Find the best
			strategies for your favorite agents and maps.
		</p>
		<h2 class="text-4xl font-extrabold text-gray-900 mb-8">Explore Agents</h2>
		<div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-5 mb-12">
			{
				featuredAgents.map((agent) => (
					<a
						href={`/agents/${agent.toLowerCase()}`}
						class="group block bg-white p-6 rounded-lg shadow-lg hover:shadow-xl transition-all duration-300 ease-in-out transform hover:-translate-y-1"
						aria-label={`View setups for ${agent}`}
					>
						<div class="relative overflow-hidden rounded-lg">
							<Image
								src={getAgentImage(agent)}
								alt={agent}
								class="w-full h-48 object-cover transition-transform duration-500 transform group-hover:scale-110"
								width="250"
								height="250"
							/>
							<div class="absolute inset-0 bg-black bg-opacity-25 opacity-0 group-hover:opacity-100 transition-opacity duration-300 rounded-lg" />
						</div>
						<h2
							class="mt-4 text-2xl font-bold text-gray-900 text-center"
							transition:name={agent}
						>
							{agent}
						</h2>
					</a>
				))
			}
		</div>
		<h2 class="text-4xl font-extrabold text-gray-900 mb-8">Explore Maps</h2>
		<div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-5">
			{
				featuredMaps.map((map) => (
					<a
						href={`/maps/${map.toLowerCase()}`}
						class="group block bg-white rounded-lg shadow-lg hover:shadow-xl transition-all duration-300 ease-in-out transform hover:-translate-y-1"
						aria-label={`View setups for ${map}`}
					>
						<div class="relative overflow-hidden rounded-lg">
							<Image
								src={getMapImage(map)}
								alt={map}
								class="w-full h-48 object-cover transition-transform duration-500 transform group-hover:scale-110"
								height="250"
								width="350"
							/>
							<div class="absolute inset-0 bg-black bg-opacity-25 opacity-0 group-hover:opacity-100 transition-opacity duration-300 rounded-lg" />
							<div class="absolute bottom-0 left-0 right-0 bg-gradient-to-t from-black to-transparent p-4 rounded-b-lg">
								<h2 class="text-xl font-bold text-white" transition:name={map}>
									{map}
								</h2>
							</div>
						</div>
					</a>
				))
			}
		</div>
	</div>
</BaseLayout>
