---
import { getCollection } from "astro:content";
const entries = await getCollection("setup");
const uniqueAgents = [
    ...new Set(entries.map((entry) => entry.data.agent).flat()),
];

type Props = {
    currentAgent?: string;
};

const { currentAgent } = Astro.props as Props;
---

<div class="flex flex-col space-y-4">
    <label for="agent" class="text-lg font-semibold text-gray-800">Agent</label>
    <div class="relative">
        <select
            id="agent"
            name="agent"
            class="w-full p-4 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300 ease-in-out hover:border-blue-500"
        >
            <option value="" disabled>Select an agent</option>
            <option value=""> All agents </option>
            {
                uniqueAgents.map((agent) => (
                    <option
                        value={agent.toLowerCase()}
                        selected={agent.toLowerCase() === currentAgent}
                    >
                        {agent}
                    </option>
                ))
            }
        </select>
        <div
            class="absolute inset-y-0 right-0 flex items-center px-2 pointer-events-none"
        >
            <svg
                class="w-5 h-5 text-gray-400"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
            >
                <path
                    fill-rule="evenodd"
                    d="M10 3a1 1 0 01.707.293l5 5a1 1 0 01-1.414 1.414L10 5.414 5.707 9.707A1 1 0 114.293 8.293l5-5A1 1 0 0110 3z"
                    clip-rule="evenodd"></path>
            </svg>
        </div>
    </div>
</div>

<script>
    document.getElementById("agent")!.addEventListener("change", (event) => {
        const agent = (event.target as HTMLSelectElement).value;
        const url = new URL(window.location.href);
        const path = url.pathname.split("/");
        const currentMap = path[2];

        console.log({ agent, currentMap });

        if (agent === "") {
            window.location.href = `/maps/${currentMap}`;
        } else {
            window.location.href = `/maps/${currentMap}/${agent}`;
        }
    });
</script>
