---
import { getAgentImage } from "@/util/agents";
import { getMapImage } from "@/util/maps";
import { Image } from "astro:assets";

type Props = {
	title: string;
	agent: string;
	map: string;
	site: "A" | "B" | "C";
	isAttacking: boolean;
	isUlt: boolean;
	slug: string;
};

const { title, agent, site, map, isAttacking, isUlt, slug } =
	Astro.props as Props;
---

<a
	class="bg-white rounded-lg shadow-lg transition-transform duration-300 hover:scale-105 hover:shadow-xl flex flex-col items-center overflow-hidden pb-2 md:pb-4"
	href={`/setup/${slug}`}
	title={`View details for ${title}`}
>
	<div class="relative w-full">
		<Image
			src={getMapImage(map)}
			alt={map}
			class="w-full h-48 object-cover rounded-t-lg shadow-md"
			width="400"
			height="200"
		/>
		<div
			class="absolute inset-0 bg-gradient-to-t from-black to-transparent opacity-20"
		>
		</div>
		<Image
			src={getAgentImage(agent)}
			alt={agent}
			class="w-20 h-20 rounded-full shadow-md absolute -bottom-10 left-1/2 transform -translate-x-1/2 border-4 border-white bg-white"
			class:list={{
				"bg-red-400": isAttacking,
				"bg-blue-300": !isAttacking,
			}}
			width="80"
			height="80"
		/>
	</div>
	<div class="pt-12 px-4 text-center">
		<h2
			class="text-2xl font-bold text-gray-900 line-clamp-2 mb-2"
			transition:name={title}
		>
			{title}
		</h2>
		<p class="text-lg font-bold text-gray-800">
			{agent} - {map} - Site {site}
		</p>
		<p class="text-base text-gray-600">
			{isAttacking ? "Attacking" : "Defending"} - {
				isUlt ? "Ultimate" : "Regular"
			} Setup
		</p>
	</div>
</a>
