---
import HeaderNav from "@/components/HeaderNav.astro";
import Footer from "@/components/Footer.astro";
type Props = {
    title: string;
    description?: string;
    keywords?: string[];
};

const props = Astro.props;
const baseKeywords = ["Valorant", "setups", "lineups"];
const keywords = baseKeywords.concat(props.keywords ?? []);
const description =
    props.description ?? "Valorant setups and lineups all in one place";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={description} />
        <meta name="keywords" content={keywords.join(", ")} />
        <meta name="author" content="Ruben Olano" />
        <meta property="og:title" content={props.title} />
        <meta property="og:description" content={description} />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="lor.rubenolano.app" />
        <meta property="og:image" content="/favicon.svg" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content={props.title} />
        <meta name="twitter:description" content={description} />
        <meta name="twitter:image" content="/favicon.svg" />
        <title>{props.title}</title>
        <style>
            @view-transition {
                navigation: auto; /* enabled */
            }
        </style>
    </head>
    <body class="bg-gray-100 text-gray-900 flex flex-col min-h-screen">
        <header>
            <HeaderNav />
        </header>
        <main class="flex-grow">
            <slot />
        </main>
        <Footer />
    </body>
</html>
